body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: justify;
    
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    color: #555;
}

pre {
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    overflow-x: auto;
}

code {
    font-family: 'Courier New', Courier, monospace;
    color: #d6336c;
}

#graph {
    width: 100%;
    height: 600px;
}

pre code {
    font-family: Consolas, "Courier New", monospace;
    background-color: #f4f4f4;
    padding: 10px;
    display: block;
}

.comment {
    color: green;
}